<div class="block block-breadcrumb ">		
					<div class="block-breadcrumb ">
  <div class="block-breadcrumb__container">
	<span class="block-breadcrumb__item">
	  <span class="block-breadcrumb__inner"><a href="https://theroyalgardenhotel.com.hk/">HOME</a></span>
	  <span class="block-breadcrumb__separator">&gt;</span>
	</span>
		<span class="block-breadcrumb__item block-breadcrumb__item--current">
	  <span class="block-breadcrumb__inner">Cakes</span>
	</span>
  </div>
</div>																						
</div>
<div class="block block-product-category ">
<div class="container  shrink  ">
<ul class="product__list">
<li class="product__item product product-1">
	<a href="https://theroyalgardenhotel.com.hk/tiramisu">	
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Tiramisu.JPG')">	
					</div>
					<div class="item__name">
						<div class="item__title">Tiramisu</div>
            <div class="item__subtitle">(Item#: 101)</div>					
          </div>
					<div class="item__price">
					<div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
                            </div>
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/tiramisu">Details ></a>
					</a>
				</li>

        <li class="product__item product product-2">
					
					<a href="https://theroyalgardenhotel.com.hk/st-honore-gateau">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/St. Honore Gateau.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">St. Honore Gateau</div>
            <div class="item__subtitle">(Item#: 102)</div>				
          	</div>
					<div class="item__price">
                                                                                                                                                                                                                                                                                            
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                            
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/st-honore-gateau">Details ></a>
					</a>
				</li>
 <li class="product__item product product-3">
					
					<a href="https://theroyalgardenhotel.com.hk/strawberry-cream-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/cake-no-103.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Strawberry Cream Cake</div>
						<div class="item__subtitle">(Item#: 103)</div>					</div>
					<div class="item__price">
                                                                                                                                                                                                                                                                                            
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                            
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/strawberry-cream-cake">Details ></a>
					</a>
				</li>
                                                                              
        <li class="product__item product product-4">
					
					<a href="https://theroyalgardenhotel.com.hk/mango-napoleon">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mango Napolean_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mango Napoleon</div>
            <div class="item__subtitle">(Item#: 105)</div>				
          	</div>
					<div class="item__price">
                                                                        
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                            
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mango-napoleon">Details ></a>
					</a>
				</li>
                                                                              
        <li class="product__item product product-5">
					
					<a href="https://theroyalgardenhotel.com.hk/green-tea-opera">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Green Tea Opera.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Green Tea Opera</div>
            <div class="item__subtitle">(Item#: 111)</div>					
          </div>
					<div class="item__price">
                                                  
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                            
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/green-tea-opera">Details ></a>
					</a>
				</li>
                                                                              
        <li class="product__item product product-6">
					
					<a href="https://theroyalgardenhotel.com.hk/chocolate-raspberry-ganache-gateau">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Chocolate Raspberry Ganache Gateau R.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Chocolate Raspberry Ganache Gateau</div>
						<div class="item__subtitle">(Item#: 122)</div>					</div>
					<div class="item__price">
                                                                                  
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                    
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/chocolate-raspberry-ganache-gateau">Details ></a>
					</a>
				</li>
                                                                            
        <li class="product__item product product-7">
					
					<a href="https://theroyalgardenhotel.com.hk/blueberry-cheese-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/blueberry cheese.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Blueberry Cheese Cake</div>
						<div class="item__subtitle">(Item#: 104)</div>					</div>
					<div class="item__price">
                                                                                                          
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/blueberry-cheese-cake">Details ></a>
					</a>
				</li>
                                                                            
        <li class="product__item product product-8">
					
					<a href="https://theroyalgardenhotel.com.hk/black-forest">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Black Forest Cake.JPG')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Black Forest</div>
						<div class="item__subtitle">(Item#: 106)</div>					</div>
					<div class="item__price">
                                                                                                      
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/black-forest">Details ></a>
					</a>
				</li>
                                                                          
        <li class="product__item product product-9">
					
					<a href="https://theroyalgardenhotel.com.hk/american-cheese-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/American cheese cake_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">American Cheese Cake</div>
						<div class="item__subtitle">(Item#: 107)</div>					</div>
					<div class="item__price">
                                                                                                      
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/american-cheese-cake">Details ></a>
					</a>
				</li>
                                                                            
        <li class="product__item product product-10">
					
					<a href="https://theroyalgardenhotel.com.hk/chestnut-cream-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Chestnut cream cake.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Chestnut Cream Cake</div>
						<div class="item__subtitle">(Item#: 108)</div>					</div>
					<div class="item__price">
                                                                                            
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/chestnut-cream-cake">Details ></a>
					</a>
				</li>
                                                                          
        <li class="product__item product product-11">
					
					<a href="https://theroyalgardenhotel.com.hk/mixed-fruit-cream-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mixed fruits cream cake_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mixed Fruit Cream Cake</div>
						<div class="item__subtitle">(Item#: 109)</div>					</div>
					<div class="item__price">
                                                                                              
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mixed-fruit-cream-cake">Details ></a>
					</a>
				</li>
                                                                          
        <li class="product__item product product-12">
					
					<a href="https://theroyalgardenhotel.com.hk/mango-cheese-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mango Cheese Cake.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mango Cheese Cake</div>
						<div class="item__subtitle">(Item#: 110)</div>					</div>
					<div class="item__price">
                                                                          
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mango-cheese-cake">Details ></a>
					</a>
				</li>
                                                            
        <li class="product__item product product-13">
					
					<a href="https://theroyalgardenhotel.com.hk/mixed-fruit-napoleon">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mixed Fruit Napoleon 雜果拿破崙蛋糕_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mixed Fruit Napoleon</div>
						<div class="item__subtitle">(Item#: 114)</div>					</div>
					<div class="item__price">
                                                                        
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mixed-fruit-napoleon">Details ></a>
					</a>
				</li>
                                                                    
        <li class="product__item product product-14">
					
					<a href="https://theroyalgardenhotel.com.hk/chocolate-truffle-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Chocolate Truffle cake_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Chocolate Truffle Cake</div>
						<div class="item__subtitle">(Item#: 115)</div>					</div>
					<div class="item__price">
                                                                              
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                    
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/chocolate-truffle-cake">Details ></a>
					</a>
				</li>
                                                                          
        <li class="product__item product product-15">
					
					<a href="https://theroyalgardenhotel.com.hk/strawberry-napoleon">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/strawberry napolean.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Strawberry Napoleon</div>
						<div class="item__subtitle">(Item#: 116)</div>					</div>
					<div class="item__price">
                                                                          
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/strawberry-napoleon">Details ></a>
					</a>
				</li>
                                                      
        <li class="product__item product product-17">
					
					<a href="https://theroyalgardenhotel.com.hk/chocolate-napoleon">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Chocolate Napoleon.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Chocolate Napoleon</div>
						<div class="item__subtitle">(Item#: 119)</div>					</div>
					<div class="item__price">
                                                                  
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/chocolate-napoleon">Details ></a>
					</a>
				</li>
                                                              
        <li class="product__item product product-19">
					
					<a href="https://theroyalgardenhotel.com.hk/hazelnut-chocolate-crunchy-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/prod_123.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Hazelnut Chocolate Crunchy Cake</div>
						<div class="item__subtitle">(Item#: 123)</div>					</div>
					<div class="item__price">
                                                            
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/hazelnut-chocolate-crunchy-cake">Details ></a>
					</a>
				</li>
                                                  
        <li class="product__item product product-20">
					
					<a href="https://theroyalgardenhotel.com.hk/earl-grey-tea-chocolate-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Earl Grey Chocolate Cake.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Earl Grey Tea Chocolate Cake</div>
						<div class="item__subtitle">(Item#: 124)</div>					</div>
					<div class="item__price">
                                                                
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                    
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/earl-grey-tea-chocolate-cake">Details ></a>
					</a>
				</li>
                                                        
        <li class="product__item product product-21">
					
					<a href="https://theroyalgardenhotel.com.hk/mango-lamington">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/mango lamington.JPG')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mango Lamington</div>
						<div class="item__subtitle">(Item#: 125)</div>					</div>
					<div class="item__price">
                                                                            
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mango-lamington">Details ></a>
					</a>
        </li>
        
                                                                          
        <li class="product__item product product-22">
					
					<a href="https://theroyalgardenhotel.com.hk/red-bean-ganache-n-green-tea-gateau">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Red Bean Granache and Green Tea Gateau R.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Red Bean Ganache &amp; Green Tea Gateau</div>
						<div class="item__subtitle">(Item#: 126)</div>					</div>
					<div class="item__price">
                                                                              
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                      
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/red-bean-ganache-n-green-tea-gateau">Details ></a>
					</a>
				</li>
                                                                      
        <li class="product__item product product-23">
					
					<a href="https://theroyalgardenhotel.com.hk/mix-berries-charlotte-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mixed berries charlotte_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mix Berries Charlotte Cake</div>
						<div class="item__subtitle">(Item#: 127)</div>					</div>
					<div class="item__price">
                                                                              
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                      
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mix-berries-charlotte-cake">Details ></a>
					</a>
				</li>
                                                                          
        <li class="product__item product product-24">
					
					<a href="https://theroyalgardenhotel.com.hk/green-tea-mango-gateau">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Green tea mango cake_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Green Tea Mango Gateau</div>
						<div class="item__subtitle">(Item#: 128)</div>					</div>
					<div class="item__price">
                                                                            
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/green-tea-mango-gateau">Details ></a>
					</a>
				</li>
                                                            
        <li class="product__item product product-25">
					
					<a href="https://theroyalgardenhotel.com.hk/baileys-cheese-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Bailey Cheese Cake.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Bailey&#039;s Cheese Cake</div>
						<div class="item__subtitle">(Item#: 130)</div>					</div>
					<div class="item__price">
                                                                      
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/baileys-cheese-cake">Details ></a>
					</a>
				</li>
                                                                      
        <li class="product__item product product-28">
					
					<a href="https://theroyalgardenhotel.com.hk/birthday-cake-chinese-peach">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/prod_134_1.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Birthday Cake (Chinese Peach)</div>
						<div class="item__subtitle">(Item#: 134)</div>					</div>
					<div class="item__price">
                                                                  
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">1,470.00</span><span class="unit"> / 3lb</span>
														</div>
                                                      
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/birthday-cake-chinese-peach">Details ></a>
					</a>
				</li>
                                                          
        <li class="product__item product product-29">
					
					<a href="https://theroyalgardenhotel.com.hk/wedding-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/prod_135.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Wedding Cake</div>
						<div class="item__subtitle">(Item#: 135)</div>					</div>
					<div class="item__price">
                                                                
          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/wedding-cake">Details ></a>
					</a>
				</li>
                                                              
        <li class="product__item product product-30">
					
					<a href="https://theroyalgardenhotel.com.hk/pink-rose-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Rose cake.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Pink Rose Cake</div>
						<div class="item__subtitle">(Item#: 136)</div>					</div>
					<div class="item__price">
                                                                    
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">440.00</span><span class="unit"> / lb</span>
														</div>
                                                    
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/pink-rose-cake">Details ></a>
					</a>
				</li>
                                                            
        <li class="product__item product product-43">
					
					<a href="https://theroyalgardenhotel.com.hk/leopard-hazelnut-crunchy-cake">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Hazelnut crunchy cake (leopard)_1Mb_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Leopard (Hazelnut Crunchy Cake)</div>
						<div class="item__subtitle">(Item#: 158)</div>					</div>
					<div class="item__price">
                                                                      
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/leopard-hazelnut-crunchy-cake">Details ></a>
					</a>
				</li>
                                                                
        <li class="product__item product product-55">
					
					<a href="https://theroyalgardenhotel.com.hk/strawberry-cream-cake-tall-style">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Strawberry Cake.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Strawberry Cream Cake (Tall Style)</div>
						<div class="item__subtitle">(Item#: 222)</div>					</div>
					<div class="item__price">
                                                              
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">440.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/strawberry-cream-cake-tall-style">Details ></a>
					</a>
				</li>
                                                            
        <li class="product__item product product-56">
					
					<a href="https://theroyalgardenhotel.com.hk/mango-n-black-sesame-cream-cake-marble-style">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mango and black sesame cake_800x800px.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Mango &amp; black sesame Cream Cake(Marble style)</div>
						<div class="item__subtitle">(Item#: 223)</div>					</div>
					<div class="item__price">
                                                              
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">480.00</span><span class="unit"> / lb</span>
														</div>
                                                          
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/mango-n-black-sesame-cream-cake-marble-style">Details ></a>
					</a>
				</li>
                                                            
        <li class="product__item product product-57">
					
					<a href="https://theroyalgardenhotel.com.hk/yellow-rose">
						
					<div class="item__cover" style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Yellow Rose.jpg')">
						
						
					</div>
					<div class="item__name">
						<div class="item__title">Yellow Rose</div>
						<div class="item__subtitle">(Item#: 226)</div>					</div>
					<div class="item__price">
                                                        
            <div>
															<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">440.00</span><span class="unit"> / lb</span>
														</div>
                                                        
                          </div>
					
					<a class="item__button" href="https://theroyalgardenhotel.com.hk/yellow-rose">Details ></a>
					</a>
				</li>
                                        
      </ul>
			</div>									 
																											
                                            
    </div>
                        
  