<div class="block block-breadcrumb ">		
					<div class="block-breadcrumb ">
  <div class="block-breadcrumb__container">
	<span class="block-breadcrumb__item">
	  <span class="block-breadcrumb__inner"><a href="https://theroyalgardenhotel.com.hk/">HOME</a></span>
	  <span class="block-breadcrumb__separator">&gt;</span>
	</span>
		<span class="block-breadcrumb__item block-breadcrumb__item--current">
	  <span class="block-breadcrumb__inner">Cakes</span>
	</span>
  </div>
</div>																						
</div>
<div class="block block-product-category ">
<div class="container  shrink  ">
<ul class="product__list"  style="margin-top:-200px">
<li class="product__item product product-1" *ngFor="let product of listProduct">
	<a>	
					<div class="item__cover">
						<img src="{{product?.Image}}" alt="" style="width: 250px; height: 300px;">	
					</div>
					<div class="item__name">
						<div class="item__title"><a [routerLink]="['productdetail',product?.ProductId]">{{product?.ProductName}}</a></div>
            <div class="item__subtitle">(Item#: 101)</div>					
          </div>
					<div class="item__price">
					<div>
							<span class="currency">HKD</span>
															<span class="symbol">$</span><span class="price">{{product?.Price}}</span><span class="unit"> / lb</span>
                            </div>
                          </div>
					
					
					</a>
				</li>
                                                                            
                                        
      </ul>
			</div>									 
																											
                                            
    </div>
                        
  