<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a [routerLink]="['/register']"><b>Register</b></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>

            <form [formGroup]="createForm" enctype="multipart/form-data">
                <div class="form-group has-feedback">

                    <input type="text" class="form-control" placeholder="Full name" formControlName="Fullname">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <label class="col-lg-12 control-label">
                            <mat-error *ngIf="
                      createForm.get('Fullname').hasError('required') &&
                      createForm.get('Fullname').touched " style="color: red">
                                Tên không được để trống!
                            </mat-error>
                            <mat-error *ngIf="createForm.get('Fullname').hasError('maxlength')" style="color: red">
                                Tên không được quá 100 kí tự!
                            </mat-error>
                            <mat-error *ngIf="createForm.get('Fullname').hasError('minlength')" style="color: red">
                                Tên không được ít hơn 6 kí tự!
                            </mat-error>
                            <mat-error *ngIf="createForm.get('Fullname').hasError('pattern')">
                                Tên không được nhập space vào đầu tiên!
                            </mat-error>
                            </label>
                </div>
                <div class="form-group has-feedback">

                    <input type="email" class="form-control" placeholder="Email" formControlName="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <label class="col-lg-12 control-label"><mat-error *ngIf="
                        createForm.get('Email').hasError('required') &&
                        createForm.get('Email').touched
                      " style="color: red">
                                  email không được để trống!
                              </mat-error>
                              <mat-error *ngIf="createForm.get('Email').hasError('maxlength')" style="color: red">không được quá 50 ký tự!</mat-error>
                              <mat-error *ngIf="createForm.get('Email').hasError('pattern')">email không hợp lệ!</mat-error>
                              </label>
                </div>
                <div class="form-group has-feedback">

                    <input type="text" class="form-control" placeholder="Phone" formControlName="Phone">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <label class="col-lg-12 control-label">
                            <mat-error *ngIf="
                      createForm.get('Phone').hasError('required') &&
                      createForm.get('Phone').touched
                    " style="color: red">
                                không được để trống!
                            </mat-error>
                            <mat-error *ngIf="createForm.get('Phone').hasError('pattern')">chỉ được nhập số!</mat-error>
                            <mat-error *ngIf="createForm.get('Phone').hasError('maxlength')">không được quá 11 số!</mat-error>
                            </label>
                </div>
                <div class="form-group has-feedback" formGroupName="pass">

                    <input type="password" class="form-control" placeholder="Password" formControlName="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <label class="col-lg-12 control-label">
                            <mat-error *ngIf="
                  createForm.get('pass.Password').hasError('required') &&
                  createForm.get('pass.Password').touched
                " style="color: red">
                            không được để trống!
                        </mat-error>
                        <mat-error *ngIf="createForm.get('pass.Password').hasError('minlength')">
                            ít nhất 6 kí tự!
                        </mat-error>
                        <mat-error *ngIf="createForm.get('pass.Password').hasError('maxlength')">
                            không được quá 100 kí tự!
                        </mat-error>
                        <mat-error *ngIf="createForm.get('pass.Password').hasError('pattern')">bao gồm số và chữ cái, không bao gồm dấu cách!</mat-error>
                        </label>
                </div>
                <div class="form-group has-feedback" formGroupName="pass">

                    <input type="password" class="form-control" placeholder="Confirm password" formControlName="ConfirmPassword">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    <label class="col-lg-12 control-label">
                            <mat-error *ngIf="
              createForm.get('pass.ConfirmPassword').hasError('required') &&
              createForm.get('pass.ConfirmPassword').touched
            " style="color: red">
                        không được để trống!
                    </mat-error>
                    </label>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                <input type="checkbox"> I agree to the <a href="#">terms</a>
              </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-block btn-flat" (click)="onSubmitInsert()" value="Đăng kí">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


            <a [routerLink]="['/login']" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div>

</body>