<div class="main">
  <div id="block-group--1" class="block-group ">

    <div class="block block-breadcrumb ">
      <div class="block-breadcrumb 
block-breadcrumb--white
">
        <div class="block-breadcrumb__container">
          <span class="block-breadcrumb__item">
            <span class="block-breadcrumb__inner"><a href="https://theroyalgardenhotel.com.hk/">HOME</a></span>
            <span class="block-breadcrumb__separator">&gt;</span>
          </span>
          <span class="block-breadcrumb__item">
            <span class="block-breadcrumb__inner"><a href="https://theroyalgardenhotel.com.hk/cakes">Cakes</a></span>
            <span class="block-breadcrumb__separator">&gt;</span>
          </span>
          <span class="block-breadcrumb__item">
            <span class="block-breadcrumb__inner"><a
                href="https://theroyalgardenhotel.com.hk/cakes-pastries/fruit">Fruit</a></span>
            <span class="block-breadcrumb__separator">&gt;</span>
          </span>
          <span class="block-breadcrumb__item block-breadcrumb__item--current">
            <span class="block-breadcrumb__inner">Mango Napoleon</span>
          </span>

        </div>
      </div>

    </div>
  </div>
  <div id="block-group--2" class="block-group ">

    <div class="block block-product " >

      <div class="block-product__container product-4 ">
        <div class="block-product__inner product-row">
          <div class="block-product__coverWrap">
            <div class="block-product__cover gallery-1">
             
            </div>
            <div class="product__gallery_notice">Photos are for reference only</div>
            <div class="product__gallery">
              <div class="product__gallery__item product__gallery__item__1 active">
               
              </div>
            </div>
            <div class="block-product__share">
              <span class="share__title">Share this</span>
              <div class="share__list">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox">
                  
                </div>

              </div>
            </div>
          </div>
          <div class="block-product__info">
            <div class="info__name">
              <div class="info__title">Cake 3</div>
              <div class="info__subtitle">$25</div>
            </div>
            <div class="info__description">
             
              <div class="suffix-description">
                <i class="tips">fdhbgfhngjg</i>
              </div>
              <div class="suffix-description">
                <i class="tips">1l</i>
              </div>
            </div>
           
            <form>
              <button class="info__button product-add-btn">Add to Cart</button>
              <input type="hidden" name="product_id" value="4">
              <input type="hidden" name="attr_id" value="16">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
