<div class="main">
  <div id="block-group--1" class="block-group ">

    <div class="block block-breadcrumb ">
      <div class="block-breadcrumb 
block-breadcrumb--white
">
        <div class="block-breadcrumb__container">
          <span class="block-breadcrumb__item">
            <span class="block-breadcrumb__inner"><a href="https://theroyalgardenhotel.com.hk/">HOME</a></span>
            <span class="block-breadcrumb__separator">&gt;</span>
          </span>
          <span class="block-breadcrumb__item">
            <span class="block-breadcrumb__inner"><a href="https://theroyalgardenhotel.com.hk/cakes">Cakes</a></span>
            <span class="block-breadcrumb__separator">&gt;</span>
          </span>
          <span class="block-breadcrumb__item">
            <span class="block-breadcrumb__inner"><a
                href="https://theroyalgardenhotel.com.hk/cakes-pastries/fruit">Fruit</a></span>
            <span class="block-breadcrumb__separator">&gt;</span>
          </span>
          <span class="block-breadcrumb__item block-breadcrumb__item--current">
            <span class="block-breadcrumb__inner">Mango Napoleon</span>
          </span>

        </div>
      </div>

    </div>
  </div>
  <div id="block-group--2" class="block-group ">

    <div class="block block-product ">

      <div class="block-product__container product-4 ">
        <div class="block-product__inner product-row">
          <div class="block-product__coverWrap">
            <div class="block-product__cover gallery-1">
            </div>
            <div class="product__gallery_notice">Photos are for reference only</div>
            <div class="product__gallery">
              <div class="product__gallery__item product__gallery__item__1 active">

              </div>
            </div>
            <div class="block-product__share">
              <span class="share__title">Share this</span>
              <div class="share__list">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>

              </div>
            </div>
          </div>
          <div class="block-product__info">
            <div class="info__name">
              <div class="info__title">Mango Napoleon</div>
              <div class="info__subtitle">(Item#: 105)</div>
            </div>
            <div class="info__description">
              Fresh mango and custard cream between layers of puff pastry, topped with fresh mango.
              <div class="suffix-description">
                <i class="tips">This product may contain allergen as below:<br />
                  Gluten, Crustacean, Eggs, Fish, Peanuts, Soybeans, Milk, Lactose, Nuts or Sesame</i>
              </div>
              <div class="suffix-description">
                <i class="tips">*3lbs or above will take 3-5 working days</i>
              </div>
            </div>
            <div class="info__attr">
              <div class="attr__title">Cake Size</div>
              <ul class="info__select info__select--attr" data-input="attr_id" data-row=".product-row">
                <li class="info__option price__option calendar__option is-active" data-value="16" data-price="390"
                  data-calendar-start="2">
                  1lb</li>
                <li class="info__option price__option calendar__option " data-value="17" data-price="780"
                  data-calendar-start="2">2lb</li>
                <li class="info__option price__option calendar__option " data-value="18" data-price="1170"
                  data-calendar-start="5"
                  data-description-suffix="&lt;i class=&quot;tips&quot;&gt;*3lbs or above will take 3-5 working days&lt;/i&gt;">
                  3lb</li>
                <li class="info__option price__option calendar__option " data-value="19" data-price="1560"
                  data-calendar-start="5"
                  data-description-suffix="&lt;i class=&quot;tips&quot;&gt;*3lbs or above will take 3-5 working days&lt;/i&gt;">
                  4lb</li>
                <li class="info__option price__option calendar__option " data-value="20" data-price="1950"
                  data-calendar-start="5"
                  data-description-suffix="&lt;i class=&quot;tips&quot;&gt;*3lbs or above will take 3-5 working days&lt;/i&gt;">
                  5lb</li>
              </ul>
            </div>
            <form>

              <div class="info__price per-price">
                <span class="currency">HKD</span>
                <span class="symbol">$</span><span class="price">390.00</span>

              </div>
              <div class="info__price subtotal">
                <span class="currency">HKD</span>
                <span class="symbol">$</span><span class="price">390.00</span>
              </div>
              <div class="info__delivery">
                <div class="delivery__title">Wording &amp; Delivery</div>
                <ul class="info__select info__select--fill" data-input="fill" data-row=".product-row">
                  <li class="info__option is-active" data-value="1">Fill now</li>
                  <li class="info__option" data-value="0">Fill later</li>
                </ul>
                <input type="hidden" name="fill" value="1">
                <div class="delivery__form delivery__form--item">
                  <div class="form__item form__item--greeting">
                    <div class="item__title">Wording</div>
                    <label><input type="checkbox" name="no_greeting">No Wording</label>
                    <input class="greeting__input " type="text" name="greeting" value="">
                    <p class="tips ">Maximum 12 Chinese characters or 25 English letters, including punctuations marks
                      &amp; space.</p>
                  </div>
                  <div class="form__item form__item--delivery">
                    <div class="item__title">Delivery Method</div>
                    <ul class="info__select info__select--delivery" data-input="delivery_method"
                      data-row=".product-row">
                      <li class="info__option is-active" data-value="pickup">Collect in Cake Shop</li>
                      <li class="info__option" data-value="hotel">Delivery in Hotel</li>
                      <li class="info__option" data-value="delivery">Delivery</li>
                    </ul>
                  </div>
                  <ul
                    class="content__tab  d-none  option-delivery_method option-delivery_method-hotel option-delivery_method-outlet option-delivery_method-room"
                    data-input="delivery_method" data-row=".product-row">
                    <li class="content__tabItem " data-value="outlet">Outlet</li>
                    <li class="content__tabItem " data-value="room">Room</li>
                  </ul>
                  <div class="form__content ">
                    <div
                      class="form__item form__item--outlet  d-none  option-delivery_method option-delivery_method-outlet">
                      <div class="item__title">Outlet Name</div>
                      <select name="outlet">
                        <option value="" disabled selected>Please select</option>
                        <option value="131">Banquet</option>
                        <option value="22">DONG LAI SHUN</option>
                        <option value="26">J&#039;S BAR BISTRO</option>
                        <option value="25">LE SOLEIL</option>
                        <option value="28">SABATINI RISTORANTE ITALIANO</option>
                        <option value="24">SHIKIGIKU JAPANESE RESTAURANT</option>
                        <option value="27">THE GREENERY</option>
                        <option value="23">THE ROYAL GARDEN CHINESE RESTAURAN</option>
                      </select>
                    </div>
                    <div
                      class="form__item form__item--room  d-none  option-delivery_method option-delivery_method-room">
                      <div class="item__title">Room No.</div>
                      <input type="text" name="room" value="">
                    </div>
                    <div class="form__item form__item--date">
                      <div class="item__title">
                        <span class=" option-delivery_method option-delivery_method-pickup">Pick up Date</span>
                        <span class=" d-none  option-delivery_method option-delivery_method-delivery">Delivery
                          Date</span>
                        <span
                          class=" d-none  option-delivery_method option-delivery_method-outlet option-delivery_method-room">Booking
                          Date</span>
                      </div>
                      <div class="input-wrap">
                        <input class="js-calendar" type="text" placeholder="Please select" data-calendar-min="2"
                          data-calendar-start="2" readonly name="date" value="">
                        <svg class="icon js-calendar-icon" aria-hidden="true">
                          <use xlink:href="#icon-calendar"></use>
                        </svg>
                      </div>
                    </div>
                    <div
                      class="form__item form__item--period  d-none  option-delivery_method option-delivery_method-outlet">
                      <div class="item__title">Booking Period</div>
                      <select name="period">
                        <option value="" disabled selected>Please select</option>
                        <option value="164">Lunch</option>
                        <option value="165">Tea</option>
                        <option value="166">Dinner</option>
                      </select>
                    </div>
                    <div class="form__item form__item--time">
                      <div class="item__title">
                        <span class=" option-delivery_method option-delivery_method-pickup">Pick up Time</span>
                        <span class=" d-none  option-delivery_method option-delivery_method-delivery">Delivery
                          Time</span>
                        <span
                          class=" d-none  option-delivery_method option-delivery_method-outlet option-delivery_method-room">Booking
                          Time</span>
                      </div>
                      <div
                        class="input-wrap  option-delivery_method option-delivery_method-pickup option-delivery_method-room option-delivery_method-delivery">

                        <select data-input="time" data-row=".product-row">
                          <option value="" disabled selected>Please select</option>
                          <option value="137"
                            class="option-delivery_method option-delivery_method-pickup option-product option-product-58"
                            disabled="disabled">2:00 PM</option>
                          <option value="134"
                            class="option-delivery_method option-delivery_method-pickup option-product-non option-product-non-58">
                            2:30 PM - 5:00 PM</option>
                          <option value="135"
                            class="option-delivery_method option-delivery_method-pickup option-product-non option-product-non-58">
                            5:00 PM - 9:00 PM</option>
                          <option value="138" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">12:00 MN</option>
                          <option value="139" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">1:00 AM</option>
                          <option value="140" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">2:00 AM</option>
                          <option value="141" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">3:00 AM</option>
                          <option value="142" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">4:00 AM</option>
                          <option value="143" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">5:00 AM</option>
                          <option value="144" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">6:00 AM</option>
                          <option value="145" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">7:00 AM</option>
                          <option value="146" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">8:00 AM</option>
                          <option value="147" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">9:00 AM</option>
                          <option value="148" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">10:00 AM</option>
                          <option value="149" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">11:00 AM</option>
                          <option value="150" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">12:00 NN</option>
                          <option value="151" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">1:00 PM</option>
                          <option value="152" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">2:00 PM</option>
                          <option value="153" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">3:00 PM</option>
                          <option value="154" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">4:00 PM</option>
                          <option value="155" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">5:00 PM</option>
                          <option value="156" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">6:00 PM</option>
                          <option value="157" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">7:00 PM</option>
                          <option value="158" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">8:00 PM</option>
                          <option value="159" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">9:00 PM</option>
                          <option value="160" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">10:00 PM</option>
                          <option value="161" class="option-delivery_method option-delivery_method-room"
                            disabled="disabled">11:00 PM</option>
                          <option value="133"
                            class="option-delivery_method option-delivery_method-delivery option-product option-product-58"
                            disabled="disabled">2:00 PM</option>
                          <option value="132"
                            class="option-delivery_method option-delivery_method-delivery option-product-non option-product-non-58"
                            disabled="disabled">3:00 PM - 4:00 PM</option>
                          <option value="182"
                            class="option-delivery_method option-delivery_method-delivery option-product-non option-product-non-58"
                            disabled="disabled">4:00 PM - 5:00 PM</option>
                          <option value="183"
                            class="option-delivery_method option-delivery_method-delivery option-product-non option-product-non-58"
                            disabled="disabled">5:00 PM - 6:00 PM</option>
                        </select>
                      </div>
                      <input class=" d-none  option-delivery_method option-delivery_method-outlet" data-input="time"
                        data-row=".product-row" value="">
                    </div>
                    <div
                      class="form__item form__item--region  d-none  option-delivery_method option-delivery_method-delivery">
                      <div class="item__title">Region</div>
                      <select name="delivery_region">
                        <option value="" disabled selected>Please select</option>
                        <option value="38">Hong Kong Island</option>

                        <option value="39">Kowloon</option>

                        <option value="40">New Territories</option>

                        <option value="167">Outlying Island</option>

                      </select>
                    </div>
                    <div
                      class="form__item form__item--district  d-none  option-delivery_method option-delivery_method-delivery">
                      <div class="item__title">District</div>
                      <select name="delivery_district" data-input="shipping_fee" data-row=".product-row">
                        <option value="" disabled selected>Please select</option>

                        <option value="41" data-value="250.00" data-parent="38" disabled="disabled">Wan Chai (Fee
                          $250.00)</option>

                        <option value="42" data-value="250.00" data-parent="38" disabled="disabled">Tin Hau (Fee
                          $250.00)</option>

                        <option value="43" data-value="250.00" data-parent="38" disabled="disabled">Central (Fee
                          $250.00)</option>

                        <option value="44" data-value="250.00" data-parent="38" disabled="disabled">Fortress Hill/ North
                          Point (Fee $250.00)</option>

                        <option value="45" data-value="250.00" data-parent="38" disabled="disabled">Causeway Bay (Fee
                          $250.00)</option>

                        <option value="46" data-value="250.00" data-parent="38" disabled="disabled">Admiralty (Fee
                          $250.00)</option>

                        <option value="47" data-value="250.00" data-parent="38" disabled="disabled">Tai Hang (Fee
                          $250.00)</option>

                        <option value="48" data-value="300.00" data-parent="38" disabled="disabled">Tai Koo (Fee
                          $300.00)</option>

                        <option value="49" data-value="300.00" data-parent="38" disabled="disabled">Sheung Wan (Fee
                          $300.00)</option>

                        <option value="50" data-value="300.00" data-parent="38" disabled="disabled">Sai Ying Pun (Fee
                          $300.00)</option>

                        <option value="51" data-value="300.00" data-parent="38" disabled="disabled">Shek Tong Tsui/
                          Jardine&#039;s Lookout (Fee $300.00)</option>

                        <option value="52" data-value="300.00" data-parent="38" disabled="disabled">Happy Valley (Fee
                          $300.00)</option>

                        <option value="53" data-value="300.00" data-parent="38" disabled="disabled">Quarry Bay (Fee
                          $300.00)</option>

                        <option value="54" data-value="350.00" data-parent="38" disabled="disabled">Chai Wan (Fee
                          $350.00)</option>

                        <option value="55" data-value="350.00" data-parent="38" disabled="disabled">Sai Wan (Fee
                          $350.00)</option>

                        <option value="56" data-value="350.00" data-parent="38" disabled="disabled">Heng Fa Chuen (Fee
                          $350.00)</option>

                        <option value="57" data-value="400.00" data-parent="38" disabled="disabled">Shau Kei Wan (Fee
                          $400.00)</option>

                        <option value="58" data-value="400.00" data-parent="38" disabled="disabled">Sai Wan Ho (Fee
                          $400.00)</option>

                        <option value="59" data-value="400.00" data-parent="38" disabled="disabled">Siu Sai Wan (Fee
                          $400.00)</option>

                        <option value="60" data-value="400.00" data-parent="38" disabled="disabled">Pok Fu Lam (Fee
                          $400.00)</option>

                        <option value="61" data-value="400.00" data-parent="38" disabled="disabled">Wah Fu (Fee $400.00)
                        </option>

                        <option value="62" data-value="400.00" data-parent="38" disabled="disabled">Tin Wan (Fee
                          $400.00)</option>

                        <option value="63" data-value="400.00" data-parent="38" disabled="disabled">Shek Pai Wan (Fee
                          $400.00)</option>

                        <option value="64" data-value="400.00" data-parent="38" disabled="disabled">Ap Lei Chau (Fee
                          $400.00)</option>

                        <option value="65" data-value="400.00" data-parent="38" disabled="disabled">Wong Chuk Hang (Fee
                          $400.00)</option>

                        <option value="66" data-value="400.00" data-parent="38" disabled="disabled">The Peak (Fee
                          $400.00)</option>

                        <option value="67" data-value="500.00" data-parent="38" disabled="disabled">Chung Hom Kok (Fee
                          $500.00)</option>

                        <option value="68" data-value="500.00" data-parent="38" disabled="disabled">Stanley Market (Fee
                          $500.00)</option>

                        <option value="69" data-value="100.00" data-parent="39" disabled="disabled">Tsim Sha Tsui (Fee
                          $100.00)</option>

                        <option value="70" data-value="100.00" data-parent="39" disabled="disabled">Hung Hom (Fee
                          $100.00)</option>

                        <option value="71" data-value="150.00" data-parent="39" disabled="disabled">Jordon (Fee $150.00)
                        </option>

                        <option value="72" data-value="150.00" data-parent="39" disabled="disabled">Yau Ma Tei (Fee
                          $150.00)</option>

                        <option value="73" data-value="150.00" data-parent="39" disabled="disabled">Mong Kok (Fee
                          $150.00)</option>

                        <option value="74" data-value="150.00" data-parent="39" disabled="disabled">To Kwa Wan (Fee
                          $150.00)</option>

                        <option value="75" data-value="150.00" data-parent="39" disabled="disabled">Ho Man Tin (Fee
                          $150.00)</option>

                        <option value="76" data-value="200.00" data-parent="39" disabled="disabled">Shek Kip Mei (Fee
                          $200.00)</option>

                        <option value="77" data-value="200.00" data-parent="39" disabled="disabled">Lok Fu (Fee $200.00)
                        </option>

                        <option value="78" data-value="200.00" data-parent="39" disabled="disabled">Kowloon Tong (Fee
                          $200.00)</option>

                        <option value="79" data-value="200.00" data-parent="39" disabled="disabled">Sham Shui Po (Fee
                          $200.00)</option>

                        <option value="80" data-value="200.00" data-parent="39" disabled="disabled">Nam Cheong (Fee
                          $200.00)</option>

                        <option value="81" data-value="200.00" data-parent="39" disabled="disabled">Tai Kok Tsui (Fee
                          $200.00)</option>

                        <option value="82" data-value="250.00" data-parent="39" disabled="disabled">Mei Foo (Fee
                          $250.00)</option>

                        <option value="83" data-value="250.00" data-parent="39" disabled="disabled">Lai Chi Kok (Fee
                          $250.00)</option>

                        <option value="84" data-value="250.00" data-parent="39" disabled="disabled">Cheung Sha Wan (Fee
                          $250.00)</option>

                        <option value="85" data-value="250.00" data-parent="39" disabled="disabled">Wong Tai sin (Fee
                          $250.00)</option>

                        <option value="86" data-value="250.00" data-parent="39" disabled="disabled">San Po Kong (Fee
                          $250.00)</option>

                        <option value="87" data-value="250.00" data-parent="39" disabled="disabled">Tsz Wan Shan (Fee
                          $250.00)</option>

                        <option value="88" data-value="250.00" data-parent="39" disabled="disabled">Ngau Chi Wan (Fee
                          $250.00)</option>

                        <option value="89" data-value="250.00" data-parent="39" disabled="disabled">Choi Hung (Fee
                          $250.00)</option>

                        <option value="90" data-value="250.00" data-parent="39" disabled="disabled">Kowloon Bay (Fee
                          $250.00)</option>

                        <option value="91" data-value="250.00" data-parent="39" disabled="disabled">Kowloon City (Fee
                          $250.00)</option>

                        <option value="92" data-value="300.00" data-parent="39" disabled="disabled">Shun Lee (Fee
                          $300.00)</option>

                        <option value="93" data-value="300.00" data-parent="39" disabled="disabled">Ngau Tau Kok (Fee
                          $300.00)</option>

                        <option value="94" data-value="300.00" data-parent="39" disabled="disabled">Tiu Keng Leng (Fee
                          $300.00)</option>

                        <option value="95" data-value="300.00" data-parent="39" disabled="disabled">Kwun Tong (Fee
                          $300.00)</option>

                        <option value="96" data-value="300.00" data-parent="39" disabled="disabled">Sau Mau Ping (Fee
                          $300.00)</option>

                        <option value="97" data-value="300.00" data-parent="39" disabled="disabled">Lam Tin (Fee
                          $300.00)</option>

                        <option value="98" data-value="300.00" data-parent="39" disabled="disabled">Yau Tong (Fee
                          $300.00)</option>

                        <option value="99" data-value="300.00" data-parent="39" disabled="disabled">Lei Tue Mun (Fee
                          $300.00)</option>

                        <option value="100" data-value="300.00" data-parent="39" disabled="disabled">Cha Kwo Ling (Fee
                          $300.00)</option>

                        <option value="101" data-value="350.00" data-parent="40" disabled="disabled">Lai King (Fee
                          $350.00)</option>

                        <option value="102" data-value="350.00" data-parent="40" disabled="disabled">Kwai Chung (Fee
                          $350.00)</option>

                        <option value="103" data-value="400.00" data-parent="40" disabled="disabled">Tsing Yi (Fee
                          $400.00)</option>

                        <option value="104" data-value="400.00" data-parent="40" disabled="disabled">Tseung Kwan O (Fee
                          $400.00)</option>

                        <option value="105" data-value="400.00" data-parent="40" disabled="disabled">Hang Hau (Fee
                          $400.00)</option>

                        <option value="106" data-value="400.00" data-parent="40" disabled="disabled">Tsuen Wan (Fee
                          $400.00)</option>

                        <option value="107" data-value="450.00" data-parent="40" disabled="disabled">Fo Tan (Fee
                          $450.00)</option>

                        <option value="108" data-value="450.00" data-parent="40" disabled="disabled">Sha Tin (Fee
                          $450.00)</option>
                        <option value="109" data-value="450.00" data-parent="40" disabled="disabled">Tai Wai (Fee
                          $450.00)</option>
                        <option value="110" data-value="450.00" data-parent="40" disabled="disabled">Sai Kung (Fee
                          $450.00)</option>

                        <option value="111" data-value="500.00" data-parent="40" disabled="disabled">Ma On Shan (Fee
                          $500.00)</option>

                        <option value="112" data-value="500.00" data-parent="40" disabled="disabled">Shek Mun (Fee
                          $500.00)</option>

                        <option value="113" data-value="500.00" data-parent="40" disabled="disabled">Ting Kau (Fee
                          $500.00)</option>

                        <option value="114" data-value="500.00" data-parent="40" disabled="disabled">Tsing Lung Tau (Fee
                          $500.00)</option>

                        <option value="116" data-value="550.00" data-parent="40" disabled="disabled">Fanling (Fee
                          $550.00)</option>

                        <option value="117" data-value="550.00" data-parent="40" disabled="disabled">Tai Wo (Fee
                          $550.00)</option>

                        <option value="118" data-value="550.00" data-parent="40" disabled="disabled">Tai Po (Fee
                          $550.00)</option>

                        <option value="119" data-value="550.00" data-parent="40" disabled="disabled">Wu Kai Sha (Fee
                          $550.00)</option>

                        <option value="120" data-value="550.00" data-parent="40" disabled="disabled">Nai Chung (Fee
                          $550.00)</option>

                        <option value="121" data-value="550.00" data-parent="40" disabled="disabled">Ma Liu Shui (Fee
                          $550.00)</option>

                        <option value="122" data-value="600.00" data-parent="40" disabled="disabled">Sheung Shui (Fee
                          $600.00)</option>

                        <option value="123" data-value="600.00" data-parent="40" disabled="disabled">Yuen Long (Fee
                          $600.00)</option>

                        <option value="124" data-value="600.00" data-parent="40" disabled="disabled">Tin Shui Wai (Fee
                          $600.00)</option>

                        <option value="125" data-value="600.00" data-parent="40" disabled="disabled">Ping Shan (Fee
                          $600.00)</option>

                        <option value="126" data-value="600.00" data-parent="40" disabled="disabled">Hung Shui Kiu (Fee
                          $600.00)</option>

                        <option value="127" data-value="600.00" data-parent="40" disabled="disabled">Tuen Mun (Fee
                          $600.00)</option>

                        <option value="128" data-value="600.00" data-parent="40" disabled="disabled">Kam Tin (Fee
                          $600.00)</option>

                        <option value="129" data-value="600.00" data-parent="40" disabled="disabled">Mai Po (Fee
                          $600.00)</option>

                        <option value="130" data-value="650.00" data-parent="40" disabled="disabled">Sha Tau Kok (Fee
                          $650.00)</option>

                        <option value="168" data-value="700.00" data-parent="167" disabled="disabled">Airport (Fee
                          $700.00)</option>

                        <option value="169" data-value="700.00" data-parent="167" disabled="disabled">Asia World-Expo
                          (Fee $700.00)</option>

                        <option value="170" data-value="700.00" data-parent="167" disabled="disabled">Ma Wan (Fee
                          $700.00)</option>
                      </select>
                    </div>
                    <div
                      class="form__item form__item--address  d-none  option-delivery_method option-delivery_method-delivery">
                      <div class="item__title">Address</div>
                      <textarea name="delivery_address"></textarea>
                    </div>
                    <div
                      class="form__item form__item--name  d-none  option-delivery_method option-delivery_method-outlet option-delivery_method-room option-delivery_method-delivery">
                      <div class="item__title">
                        <span
                          class=" d-none  option-delivery_method option-delivery_method-outlet option-delivery_method-room">Guest
                          Name</span>
                        <span class=" d-none  option-delivery_method option-delivery_method-delivery">Receiver</span>
                      </div>
                      <input type="text" name="guest" value="">
                    </div>
                    <div
                      class="form__item form__item--no  d-none  option-delivery_method option-delivery_method-outlet">
                      <div class="item__title">Booking No.</div>
                      <input type="text" name="booking-no" value="">
                    </div>
                    <div
                      class="form__item form__item--tel  d-none  option-delivery_method option-delivery_method-outlet option-delivery_method-delivery">
                      <div class="item__title">
                        <span class=" d-none  option-delivery_method option-delivery_method-outlet">Booking Tel</span>
                        <span class=" d-none  option-delivery_method option-delivery_method-delivery">Receiver
                          Tel</span>
                      </div>
                      <input type="tel" name="tel" value="">
                    </div>
                    <div
                      class="form__item form__item--pax  d-none  option-delivery_method option-delivery_method-outlet">
                      <div class="item__title">No. of pax</div>
                      <input type="text" name="pax" value="">
                    </div>
                  </div>
                  <input type="hidden" name="delivery_method" value="pickup">
                  <input type="hidden" name="time" value="">
                  <input type="hidden" name="shipping_fee" value="0">
                </div>
              </div>
              <br>
              <button class="info__button product-add-btn">Add to Cart</button>
              <input type="hidden" name="product_id" value="4">
              <input type="hidden" name="attr_id" value="16">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
