<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="http://localhost:4200/template/home" class="logo">
            T-Cake
             
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
              <!-- Sidebar toggle button-->
            
            </nav>
          </header>
          <aside class="main-sidebar">
              <!-- sidebar: style can be found in sidebar.less -->
              <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                  <div class="pull-left image">
                    <img src="{{Avatar}}" class="img-circle">
                  </div>
                  <div class="pull-left info">
                    <p>{{UserName}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                  </div>
                </div>
                <!-- search form -->
                
             
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                  
                  <li class="active treeview">
                    <a [routerLink]="['/cms/user']">
                      <i class="fa fa-dashboard"></i> <span>User</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li class="active"><a [routerLink]="['/cms/user/create']"><i class="fa fa-circle-o"></i>Create User</a></li>
                      
                    </ul>
                  </li>
                  <li class="treeview">
                    <a [routerLink]="['/cms/role']">
                      <i class="fa fa-files-o"></i>
                      <span>Role</span>                
                    </a>
                  </li>
                  <li class="treeview">
                    <a [routerLink]="['/cms/role']">
                      <i class="fa fa-pie-chart"></i>
                      <span>Action</span>
                     
                    </a>
                   
                  </li>
                  <li class="treeview">
                    <a [routerLink]="['/cms/category']">
                      <i class="fa fa-laptop"></i>
                      <span>Category</span>
                   
                    </a>
                   
                  </li>
                  <li class="treeview">
                    <a [routerLink]="['/cms/product']">
                      <i class="fa fa-laptop"></i>
                      <span>Product</span>
                   
                    </a>
                   
                  </li>
                  <li class="treeview">
                    <a [routerLink]="['/cms/slider']">
                      <i class="fa fa-laptop"></i>
                      <span>Slider</span>
                   
                    </a>
                   
                  </li>
                  <li class="treeview">
                    <a href="#">
                      <i class="fa fa-table"></i> <span>Group</span>
                     
                    </a>
                    <ul class="treeview-menu">
                      <li><a href=""><i class="fa fa-circle-o"></i> User Groups</a></li>
                      
                    </ul>
                  </li>
                
          
                  <li class="treeview">
                    <a href="#">
                      <i class="fa fa-folder"></i> <span>Order</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    
                  </li>
                
                  
                </ul>
              </section>
              <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
               
                  <section class="content">
                      <router-outlet></router-outlet>
                    </section>
              </div>
              <footer class="main-footer">
                  <div class="pull-right hidden-xs">
                    <b>Version</b> 2.4.13
                  </div>
                  <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
                  reserved.
                </footer>
                <aside class="control-sidebar control-sidebar-dark" style="display: none;">
                    
                  </aside>

      </div>
</body>