<div id="block-group-61" class="block-group ">
  <div class="block block-frame ">
    <div class="image-area">
      <div class="image-wrap">
        <img src="https://theroyalgardenhotel.com.hk/uploads/banner/home-butterfly-cookies.jpg" alt="banner">
      </div>
      <div class="image-mask"></div>
    </div>
    <div class="text-area">
      <div class="text-title">New Butterfly Cookies Gift Collection</div>
      <div class="text-content">Fine Foods Shop have launched new packaging for the best in town butterfly cookies! You
        may now try all 4 signature flavours including original, black sesame, Uji Matcha and chocolate in one box,
        wrapped with a delectable gift jackets. Besides you may also pick up the butterfly cookies in a classy and
        elegant oval tin box.<br />
        <br />
        Best gifts for your loved ones, friends and business associates!</div>
      <a class="text-more" href="https://theroyalgardenhotel.com.hk/cookies">Learn More ></a>
    </div>
  </div>
  <div class="block block-product-category">
    <div class="container  shrink  ">
      <div class="block-product-category__title">Cakes</div>
      <ul class="product__list">
        <li class="product__item product product-4">
          <a href="https://theroyalgardenhotel.com.hk/mango-napoleon">
            <div class="item__cover"
              style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mango Napolean_1Mb_800x800px.jpg')">
            </div>
            <div class="item__name">
              <div class="item__title">Mango Napoleon</div>
              <div class="item__subtitle">(Item#: 105)</div>
            </div>
            <div class="item__price">
              <div>
                <span class="currency">HKD</span>
                <span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
              </div>
            </div>

            <a class="item__button" href="https://theroyalgardenhotel.com.hk/mango-napoleon">Details ></a>
          </a>
        </li>
        <li class="product__item product product-11">

          <a href="https://theroyalgardenhotel.com.hk/mixed-fruit-cream-cake">

            <div class="item__cover"
              style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Mixed fruits cream cake_1Mb_800x800px.jpg')">


            </div>
            <div class="item__name">
              <div class="item__title">Mixed Fruit Cream Cake</div>
              <div class="item__subtitle">(Item#: 109)</div>
            </div>
            <div class="item__price">
              <div>
                <span class="currency">HKD</span>
                <span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
              </div>
            </div>

            <a class="item__button" href="https://theroyalgardenhotel.com.hk/mixed-fruit-cream-cake">Details ></a>
          </a>
        </li>
        <li class="product__item product product-2">

          <a href="https://theroyalgardenhotel.com.hk/st-honore-gateau">

            <div class="item__cover"
              style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/St. Honore Gateau.jpg')">


            </div>
            <div class="item__name">
              <div class="item__title">St. Honore Gateau</div>
              <div class="item__subtitle">(Item#: 102)</div>
            </div>
            <div class="item__price">
              <div>
                <span class="currency">HKD</span>
                <span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
              </div>
            </div>

            <a class="item__button" href="https://theroyalgardenhotel.com.hk/st-honore-gateau">Details ></a>
          </a>
        </li>
        <li class="product__item product product-14">

          <a href="https://theroyalgardenhotel.com.hk/chocolate-truffle-cake">

            <div class="item__cover"
              style="background-image: url('https://theroyalgardenhotel.com.hk/uploads/product/Chocolate Truffle cake_1Mb_800x800px.jpg')">


            </div>
            <div class="item__name">
              <div class="item__title">Chocolate Truffle Cake</div>
              <div class="item__subtitle">(Item#: 115)</div>
            </div>
            <div class="item__price">
              <div>
                <span class="currency">HKD</span>
                <span class="symbol">$</span><span class="price">390.00</span><span class="unit"> / lb</span>
              </div>
            </div>

            <a class="item__button" href="https://theroyalgardenhotel.com.hk/chocolate-truffle-cake">Details ></a>
          </a>
        </li>
      </ul>
      <a href="https://theroyalgardenhotel.com.hk/cakes"><button type="button" class="block-product-category__more">
          <span>More Cakes</span>
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-header-arrow"></use>
          </svg>
        </button></a>
    </div>

  </div>
</div>
