/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import "~angular-notifier/styles";
@import "~assets/bower_components/Ionicons/css/ionicons.min.css";
@import "~assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css";
@import "~assets/dist/css/skins/_all-skins.min.css";
@import "~assets/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "~assets/bower_components/font-awesome/css/font-awesome.min.css";
@import "~assets/dist/css/AdminLTE.min.css";
@import "~assets/plugins/iCheck/square/blue.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';
// @import "~font-awesome/css/font-awesome.css";
body {
  position: relative;
  font-family: 'Open Sans',arial,'microsoft jhenghei',sans-serif;
  line-height: 1;
  color: #534741;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
html, body {
  height: 100%;
}
html, body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
a, button, input, select, textarea {
  color: inherit;
}
a:hover{
  text-decoration: none;
  color:inherit
}
// CSS cho slideshow
.carousel-indicators {
  bottom: -10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 12px;
}
.carousel-control-prev {
  width: 50px;
}
.carousel-control-next {
  width: 50px;
}

html, body { width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
